<div class="row">
  <div class="col-md-6">
    <h3 id="syllabus-shell">The Unix Shell</h3>
    <ul>
      <li>Files and directories</li>
      <li>History and tab completion</li>
      <li>Pipes and redirection</li>
      <li>Looping over files</li>
      <li>Creating and running shell scripts</li>
      <li>Finding things</li>
      <li><a href="{{site.swc_pages}}/shell-novice/reference">Reference...</a></li>
    </ul>
  </div>
   <!--
  <div class="col-md-6">
    <h3 id="syllabus-python">Programming in Python</h3>
    <ul>
      <li>Using libraries</li>
      <li>Working with arrays</li>
      <li>Reading and plotting data</li>
      <li>Creating and using functions</li>
      <li>Loops and conditionals</li>
      <li>Defensive programming</li>
      <li>Using Python from the command line</li>
      <li><a href="{{site.swc_pages}}/python-novice-inflammation/reference">Reference...</a></li>
    </ul>
  </div>
   -->
  
  <div class="col-md-6">
    <h3 id="syllabus-r">R Topics</h3>
    <ul>
            <li><a href="{{site.swc_pages}}/r-novice-gapminder/01-rstudio-intro/index.html" target="_blank">Introduction to R and RStudio</a></li>
      <li><a href="{{site.swc_pages}}/r-novice-gapminder/03-seeking-help/index.html" target="_blank">Seeking Help</a></li>
      <li><a href="{{site.swc_pages}}/r-novice-gapminder/02-project-intro/index.html" target="_blank">Project Management With RStudio</a></li>
      <li><a href="{{site.swc_pages}}/r-novice-inflammation/06-best-practices-R/index.html" target="_blank">Best Practices for Writing R Code</a></li>
      <li><a href="{{site.swc_pages}}/r-novice-gapminder/04-data-structures-part1/index.html" target="_blank">Data Structures</a></li>
      <li><a href="{{site.swc_pages}}/r-novice-gapminder/05-data-structures-part2/index.html" target="_blank">Exploring Data Frames</a></li>
      <li><a href="{{site.swc_pages}}/r-novice-gapminder/06-data-subsetting/index.html" target="_blank">Subsetting Data</a></li>
      <li><a href="{{site.swc_pages}}/r-novice-gapminder/07-control-flow/index.html" target="_blank">Control Flow</a></li>
      <li><a href="{{site.swc_pages}}/r-novice-gapminder/10-functions/index.html" target="_blank">Functions Explained</a></li>
      <li><a href="{{site.swc_pages}}/r-novice-gapminder/08-plot-ggplot2/index.html" target="_blank">Creating Publication-Quality Graphics with ggplot2</a></li>
    </ul>
  </div>

  <!--
  <div class="col-md-6">
    <h3 id="syllabus-matlab">Programming in MATLAB</h3>
    <ul>
      <li>Working with arrays</li>
      <li>Reading and plotting data</li>
      <li>Creating and using functions</li>
      <li>Loops and conditionals</li>
      <li>Defensive programming</li>
      <li><a href="{{site.swc_pages}}/matlab-novice-inflammation/reference">Reference...</a></li>
     </ul>
   </div>
   -->
</div>

<div class="row">
  <div class="col-md-6">
    <h3 id="syllabus-git">Version Control with Git</h3>
    <ul>
      <li>Creating a repository</li>
      <li>Recording changes to files: <code>add</code>, <code>commit</code>, ...</li>
      <li>Viewing changes: <code>status</code>, <code>diff</code>, ...</li>
      <li>Ignoring files</li>
      <li>Working on the web: <code>clone</code>, <code>pull</code>, <code>push</code>, ...</li>
      <li>Resolving conflicts</li>
      <li>Open licenses</li>
      <li>Where to host work, and why</li>
      <li><a href="{{site.swc_pages}}/git-novice/reference">Reference...</a></li>
    </ul>
  </div>
    <!--
  <div class="col-md-6">
    <h3 id="syllabus-sql">Managing Data with SQL</h3>
    <ul>
      <li>Reading and sorting data</li>
      <li>Filtering with <code>where</code></li>
      <li>Calculating new values on the fly</li>
      <li>Handling missing values</li>
      <li>Combining values using aggregation</li>
      <li>Combining information from multiple tables using <code>join</code></li>
      <li>Creating, modifying, and deleting data</li>
      <li>Programming with databases</li>
      <li><a href="{{site.swc_pages}}/sql-novice-survey/reference">Reference...</a></li>
    </ul>
  </div>

  <div class="col-md-6">
    <h3 id="syllabus-r">Open Refine</h3>
    <ul>
      <li>Introduction to OpenRefine</li>
      <li>Importing data</li>
      <li>Basic functions</li>
      <li>Advanced Functions</li>
      <li><a href="{{site.lc_pages}}library-openrefine/reference">Reference...</a></li>
    </ul>
  </div>-->
</div>

